{% extends 'community/layout.html' %}
{% load static %}
{% block content %}
    <section>
        <h2>Login</h2>
        <div class="row gtr-200">
            <form method="post" action="/u/login">
                {% csrf_token %}
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall" style="align-content: center;">
                        <input type="text" name="username" id="username-input" value="" placeholder="Username">
                    </div>
                    <div class="col-6 col-12-xsmall" style="align-content: center;">
                        <input type="password" name="password" id="password-input" value="" placeholder="Password">
                    </div>
                    <div class="col-6 col-12-xsmall" style="align-content: center;">
                        <button type="submit" class="button primary fit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}