{% extends 'community/layout.html' %}
{% load static %}
{% block content %}
    <h2>New datatype</h2>
    <form method="POST" class="post-form" id="create_datatype" action="../datatypes/">
        {% csrf_token %}
        <table>
            <input type="hidden" id="has_fields" name="has_fields" value="0">
            <tr>
                <th colspan="1" width="25px;"><label for="id_name">Name:</label></th>
                <td colspan="5"><input type="text" name="name" maxlength="100" required id="id_name"></td>
            </tr>
            <tr>
                <th colspan="1"><label for="id_description">Description:</label></th>
                <td colspan="5"><input type="text" name="description" maxlength="100" required id="id_description"></td>
            </tr>
            <tr id="button_row">
                <td colspan="6">
                    <button type="button" onclick="addDataFieldRow();" class="button fit">Add Field</button>
                    <button type="submit" class="button primary fit">Save</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/communities.js' %}"></script>
{% endblock %}