{% load static %}
<div class="inner">

    <!-- Search -->
    <section id="search" class="alt">
        <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search"/>
        </form>
        {% if 'username' in request.session %}
            <header class="major">
                <h2>Welcome {{ request.session.username }}</h2>
            </header>
            <a href="/u/logout" class="button small">Logout</a>
        {% else %}
            <header class="major">
                <h2>Welcome to the CC</h2>
            </header>
            <a href="/u/login" class="button small">Login</a>
            <a href="/u/signup" class="button small">Signup</a>
        {% endif %}
    </section>
    <!-- Menu -->
    <nav id="menu">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/c/">Communities</a></li>
            <li><a href="/u/">Users</a></li>
            <li><a href="/p/">Posts</a></li>
{#            <li>#}
{#                <span class="opener">Submenu</span>#}
{#                <ul>#}
{#                    <li><a href="#">Lorem Dolor</a></li>#}
{#                    <li><a href="#">Ipsum Adipiscing</a></li>#}
{#                    <li><a href="#">Tempus Magna</a></li>#}
{#                    <li><a href="#">Feugiat Veroeros</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li><a href="#">Etiam Dolore</a></li>#}
{#            <li><a href="#">Adipiscing</a></li>#}
{#            <li>#}
{#                <span class="opener">Another Submenu</span>#}
{#                <ul>#}
{#                    <li><a href="#">Lorem Dolor</a></li>#}
{#                    <li><a href="#">Ipsum Adipiscing</a></li>#}
{#                    <li><a href="#">Tempus Magna</a></li>#}
{#                    <li><a href="#">Feugiat Veroeros</a></li>#}
{#                </ul>#}
{#            </li>#}
{#            <li><a href="#">Maximus Erat</a></li>#}
{#            <li><a href="#">Sapien Mauris</a></li>#}
{#            <li><a href="#">Amet Lacinia</a></li>#}
        </ul>
    </nav>

    <!-- Section -->
    <section>
        <header class="major">
            <h2>Ante interdum</h2>
        </header>
        <div class="mini-posts">
            <article>
                <a href="#" class="image"><img src="{% static 'assets/images/pic07.jpg' %}" alt=""/></a>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
                <a href="#" class="image"><img src="{% static 'assets/images/pic08.jpg' %}" alt=""/></a>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
                <a href="#" class="image"><img src="{% static 'assets/images/pic09.jpg' %}" alt=""/></a>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
        </div>
        <ul class="actions">
            <li><a href="#" class="button">More</a></li>
        </ul>
    </section>

    <!-- Section -->
    <section>
        <header class="major">
            <h2>Get in touch</h2>
        </header>
        <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem
            ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus
            aliquam.</p>
        <ul class="contact">
            <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
            <li class="icon solid fa-phone">(000) 000-0000</li>
            <li class="icon solid fa-home">1234 Somewhere Road #8254<br/>
                Nashville, TN 00000-0000
            </li>
        </ul>
    </section>
    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy;Powered by eleman. All rights reserved. </p>
    </footer>
</div>