{% extends 'community/layout.html' %}
{% load static %}
{% block content %}
    <section id="banner">
        <div class="content">
            <header>
                <h1>{{ user.username }}</h1>
            </header>
            <p>
                Date Registered: {{ user.date_registered }}
            </p>
            {% for community in user.communities %}
                <a href="/c/{{ community.community }}" class="button">{{ community.community }}</a>
            {% endfor %}
        </div>
    </section>
    <section>
    <div class="row">
    {% for post in community.community_posts %}
        {% if post.data_type == null %}
            {% include 'community/partials/generic_post.html' with post=post request=request %}
        {% endif %}
        <hr/>
    {% endfor %}
    </div>
    </section>
        {% if 'username' in request.session %}
        {% if request.session.username == user.username %}
            <table>
                <tr id="button_row">
                    <td colspan="6">
                        {% csrf_token %}
                        <a href="edit" class="button fit">Edit User</a>
                        <button type="button" onclick="archiveUser();" class="button primary fit">Archive User</button>
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/communities.js' %}"></script>
{% endblock %}