{% extends 'community/layout.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="row">
            {% if post.data_type == null %}
                {% include 'community/partials/generic_post.html' with post=post request=request %}
            {% else %}
                {% include 'community/partials/post.html' with post=post request=request %}
            {% endif %}
        </div>
    </section>
    {% if 'username' in request.session %}
        {% if request.session.username == post.creator %}
            <table>
                <tr id="button_row">
                    <td colspan="6">
                        {% csrf_token %}
                        <a href="edit" class="button fit">Edit Post</a>
                        <button type="button" onclick="archivePost();" class="button primary fit">Archive Post</button>
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/communities.js' %}"></script>
{% endblock %}