{% load static %}
<tr>
    <th colspan="1" width="120px"><label for="id_data_type">DataType:</label></th>
    <td colspan="5">
        <select onchange="getDataFields(this)" name="data_type" id="id_data_type">
            <option value="" selected>Generic Post</option>
            {% for data_type in data_types %}
                <option value="{{ data_type.id }}">{{ data_type.name }}</option>
            {% endfor %}
        </select>
    </td>
</tr>

{#{% for data_type in data_types %}#}
{#    {% with data_type.id|slugify as id %}#}
{#        {% with "dt_"|add:id as name %}#}
{#            {{ data_type.fields|json_script:name }}#}
{#        {% endwith %}#}
{#    {% endwith %}#}
{#{% endfor %}#}
