{% extends 'community/partials/input_fields/field.html' %}

{% block input %}
    <input
            placeholder="latitude"
            type="text"
            name="data_field_{{ field.label }}_lat"
            maxlength="100"
            {% if field.is_required %}
            required
            {% endif %}
            id="id_{{ field.type }}_{{ field.label }}_lat">
    <input
            placeholder="longitude"
            type="text"
            name="data_field_{{ field.label }}_long"
            maxlength="100"
            {% if field.is_required %}
            required
            {% endif %}
            id="id_{{ field.type }}_{{ field.label }}_long">
{% endblock %}